# Ignore nmodules and dependency files
node_modules/
quiz-app-frontend/node_modules/
package-lock.json
yarn.lock

# Ignore build files
bin/
obj/
*.dll
*.exe
*.pdb
*.log

# Ignore config files
appsettings.json
appsettings.Development.json

# Ignore vs files
.vs/
*.suo
*.user
